thead {color:green;}
tbody {
	color:blue;
	//display: block;
    overflow-x: auto;
    position: relative;
    white-space: nowrap;
    width: auto;
	
}
td {
	min-width:50px; 
}
tfoot {color:red;}

table,th,td {	
	border:1px solid black;
	text-align: center;
	
}
th:hover{
     cursor:pointer;
    background:#AAA;    
}
.variant {
	text-align: right;
	width: auto;
}
